.univers-url {
	form > div,
	.url-help {
		display: flex;
		align-items: center;
	}
	.url-help {
		padding-bottom: 0.75em;
		margin-left: 8px;
		mat-icon {
			margin-right: 8px;
		}
		img {
			display: none;
		}
		&:hover {
			img {
				display: inline-block;
			}
		}
	}
	mat-form-field {
		width: 300px;
	}
}
.has-univers-url {
	overflow: hidden;
	mat-card {
		margin-bottom: 8px;
		mat-form-field {
			width: 100%;
		}

		mat-card-content {
			padding: 8px;
			.extra-info {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				mat-form-field {
					width: 175px;
				}
				mat-checkbox {
					margin-left: 24px;
				}
			}
		}

		mat-card-header.text-card {
			cursor: pointer;
			display: flex;
			justify-content: space-between;
			align-items: center;

			h4 {
				margin: 0 0 0 24px;
			}

			mat-icon {
				transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

				&.icon-closed {
					transform: rotate(180deg);
				}
			}
		}

		mat-card-actions {
			display: flex;
			justify-content: flex-end;
		}

		table {
			width: 100%;
		}

		.animated-content {
			overflow: hidden;
		}
	}
	.unknown {
		color: #f4fc03;
	}
	.warn {
		color: #fcba03;
	}
	.danger {
		color: #fc0303;
	}

	.coords {
		cursor: pointer;
		&:visited,
		&:link {
			color: white;
		}
		&:hover {
			text-decoration: underline;
			color: #34aeeb;
		}
	}

	.focused {
		background: rgba(0, 0, 0, 0.5);
	}
}

.add-button {
	position: absolute;
	bottom: 24px;
	right: 24px;
}

.table-card {
	padding: 0;
	.toolbar {
		padding: 8px;
	}
}
