<h2>Ogame Easy Raids</h2>
<div class="univers-url">
	<form>
		<div>
			<mat-form-field appearance="fill" color="accent">
				<mat-label>Univers URL</mat-label>
				<input
					placeholder="Ex: https://s172-fr.ogame.gameforge.com"
					matInput
					name="universUrl"
					type="text"
					(input)="setUniversUrlStorage($event.target.value)"
					[(ngModel)]="universUrl"
					[pattern]="urlRegex"
				/>
				<mat-error *ngIf="universUrl && !urlIsValid()"> Invalid URL </mat-error>
			</mat-form-field>
			<div class="url-help">
				<mat-icon>help_outline</mat-icon>
				<img src="./assets/url.png" />
			</div>
		</div>
	</form>
</div>

<div class="has-univers-url" [@slide]="universUrl && urlIsValid() ? 'opened' : 'closed'">
	<mat-card>
		<mat-card-header
			class="text-card"
			matRipple
			[matRippleUnbounded]="false"
			(click)="state = state === 'closed' ? 'opened' : 'closed'"
		>
			<h4>Information</h4>
			<button mat-icon-button>
				<mat-icon [class.icon-closed]="state === 'closed'"> expand_less </mat-icon>
			</button>
		</mat-card-header>
		<div class="animated-content" [@slide]="state">
			<mat-card-content>
				<div class="extra-info">
					<mat-form-field appearance="fill" color="accent">
						<mat-label>Technologie Hyperespace</mat-label>
						<input
							matInput
							type="number"
							(input)="setTechStorage($event.target.value)"
							[(ngModel)]="techLvl"
						/>
					</mat-form-field>
					<mat-checkbox [(ngModel)]="isCollector" (change)="setIsCollectorStorage($event.checked)">
						Classe "Le Collecteur"
					</mat-checkbox>
				</div>
				<mat-form-field appearance="fill" color="accent">
					<mat-label>Rapports d'espionnage</mat-label>
					<textarea [(ngModel)]="rawData" matInput rows="15" (keydown.enter)="process(); (false)"></textarea>
				</mat-form-field>
				<div>Capacité grand transporteur: {{ getCargoCapacity().toLocaleString("fr-BE") }}</div>
			</mat-card-content>
		</div>

		<button
			class="add-button"
			[disabled]="!rawData || rawData.trim().length === 0"
			mat-fab
			color="accent"
			(click)="process()"
			*ngIf="state === 'opened'"
		>
			<mat-icon>add</mat-icon>
		</button>
	</mat-card>
	<mat-tab-group>
		<mat-tab label="Results">
			<mat-card class="table-card">
				<app-grid
					#reportsGrid
					[spyReports]="spyReports"
					[universUrl]="universUrl"
					(savedForLater)="saveForLater($event)"
				></app-grid> </mat-card
		></mat-tab>
		<mat-tab label="Saved">
			<mat-card class="table-card">
				<app-grid
					#savedGrid
					[spyReports]="savedForLater"
					[universUrl]="universUrl"
					[isSavedForLater]="true"
				></app-grid> </mat-card
		></mat-tab>
	</mat-tab-group>
</div>
