mat-card {
	margin-bottom: 8px;
	mat-form-field {
		width: 100%;
	}

	mat-card-header.text-card {
		display: flex;
		justify-content: flex-end;
		cursor: pointer;

		mat-icon {
			transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

			&.icon-closed {
				transform: rotate(180deg);
			}
		}
	}

	mat-card-actions {
		display: flex;
		justify-content: flex-end;
	}

	table {
		width: 100%;
	}

	.animated-content {
		overflow: hidden;
	}
}

.coords {
	cursor: pointer;
	&:visited,
	&:link {
		color: white;
	}
	&:hover {
		text-decoration: underline;
		color: #34aeeb;
	}
}

.focused {
	background: rgba(0, 0, 0, 0.5);
}
